.Cart {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}


.cart-container-wrapper {
    height: 90vh;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}

.cart-container {
    height: 35vh;
    width: 100vw;
    display: flex;
    border: 1px solid black;
}

.cart-img-wrapper {
    height: 100%;
    width: 70%;
}

.cart-img {
    height: 60%;
    width: 70%;
}

.cart-info {
    height: 100%;
    width: 30%;
}
.prod-info {
    height: 50%;
    width: 100%;
}

.button-wrapper-cart {
    height: 50%;
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.c-shop {
    margin-right: 10px;
}
