.Bridals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.bg-image {
    background-image: url("https://s3.us-east-2.amazonaws.com/addeehunthair/ig-photos/24838951_684023701805454_3065064824804212736_n.jpg");
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.bridal-pic {
    height: 28vh;
    width: auto;
}

.bridal-text-wrapper {
    height: 24vh;
    width: 100vw;
}
        
.h2 {
    font-size: 20px;
}

.bridal-text {
    margin: 10px;
    line-height: 18px;
}

.bridal-container-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
        

@media(min-width:425px) {
    .bridal-text-wrapper {
        height: 20vh;
    }
    .bridal-text {
        margin: 16px;
    }
    .bridal-container-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media(min-width:768px) {
    .bridal-text-wrapper {
        height: 20vh;
    }
    .bridal-text {
        margin: 20px;
    }
    .bridal-container-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 97px;
    }
}

@media(min-width:1024px) {
    .bridal-text-wrapper {
        height: 20vh;
    }
    .bridal-text {
        margin: 20px;
    }
    .bridal-container-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 274px;
    }
}

@media(min-width:1440px) {
    .bridal-text-wrapper {
        height: 18vh;
    }
    .bridal-text {
        margin: 20px;
    }
    .bridal-container-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0 393px;
    }
}