.Booking {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
}

.dateContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

.login-warning {
    text-align: center;
}