.About {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 25px;
    margin: 5px;
}

h3 {
    font-size: 20px;
}

.top-section-about {
    /* border: dashed orchid 1px; */
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding-top: 20px;
    background-image: url('https://i.pinimg.com/originals/75/6d/9d/756d9d73c3c0957e6252c2855a5aec66.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.color {
    background-color: pink;
    height: 333px;
    width: 290px;;
    align-self: center;
    margin-right: 3em;
}

.addee {
    height: 300px;
    width: 300px;
    margin-top: -17em;
    align-self: center;
}

.addee2 {
    height: 333px;
    width: 290px;
    margin-top: -19em;
    align-self: center;
}

.about-me {
    /* border: greenyellow 1px solid; */
    height: 355px;
    width: 100vw;
    margin-top: 25px;
    padding: 0 15px;
}

.middle-section-about {
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
}

.appt-box {
    height: 20vh;
    width: 100vw;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 28px;
    /* border: solid black 1px; */
    
}

.contact-info {
    font-size: 16px;
    height: 30vh;
    width: 100vw;
    line-height: 30px;
    padding-top: 5px;
    /* border: solid black 1px; */
}

.iframe-about {
    height: 35vh;
}

.bottom-section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 78vh;
    width: auto;
}

.bs-location {
    margin: 5px 0;
}

@media(max-width:425px) {
    .top-section-about {
        height: 60vh;
    }
    .appt-box{
        height: 38vh;
        font-size: 17px;
        margin-top: 18px;
    }
    .about-text {
        line-height: 20px;
    }
    
}

@media(min-width:768px) {
    .top-section-about {
        height: 50vh;
    }
    .media1 {
        margin: 5px 6em;
        line-height: 30px;
    }
    .about-text {
        margin: 5px 6em;
        line-height: 25px;

    }
    .middle-section-about {
        height: 53vh;
        justify-content: center;
    }
    .contact-info {
        height: 30vh;
    }
    .appt-box {
        height: 28vh;
        font-size: 19px;
        width: 25vw;
        border: 1px solid black;
        font-size: 19px;
    }
    .appt-text {
        margin: 5px;
        line-height: 30px;
    }
    .about-me {
        height: 21vh;
        font-size: 19px;
    }
    .bottom-section-about {
        height: 65vh;
    }
}
